include LICENSE.md
include README.md
include fasta_reader/test/correct1.seq
include fasta_reader/test/correct2.seq
include fasta_reader/test/damaged1.seq
include fasta_reader/test/damaged2.seq
include fasta_reader/test/damaged3.seq
include version.py
